# /.phpunit.cache
# /node_modules
# /public/build
# /public/hot
# /public/storage
# /storage/*.key
# /vendor
.env
.env.backup
.env.production
.mcp.json
/.vscode
schema.sql
/app/static/templates/bulk_import_results.html
/app/static/templates/bulk_import.html
